<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><img src="/images/logo-siw.png" width="50%" /></div>
	<h1>Consulta</h1>
	<div>
		<a href="/smartphones">Smartphone</a> <div>
	    <br>
		<a href="/computers">Computer</a>
		<br>
		<a href="/consoles">Console</a>
		</div>
	</div>
	<h2>Inserisci</h2>
	<div> <a href= "/formNewMovie"> Inserisci Film</a></div>
	<h2>Ricerca</h2>
	<div><a href="/formSearchMovies">Cerca film per anno</a> <br>
	     <a href="/formSearchAutore">Cerca artista per nome</a>
	</div>
</body>

</html>