<!DOCTYPE html>
<html>

<head>
	<title>
		SitoDispositiviElettronici- Homepage
	</title>
	<link rel="stylesheet" href="/css/index.css" type="text/css"/>
</head>

<body>
		<div class="container">
		<h2 class="title"> Consulta o prenota dispositivi </h2>
    <h1><a href="/smartphones"  class="no-style">Smartphone</a></h1>
    <img src="/images/immaginetelefoni.jpg">
	    <br>
		<a href="/computers" class="no-style">Computer</a>
		<br>
		<a href="/consoles" class="no-style">Console</a>
		</div>
</body>

</html>